.pg-contador {
   color:#71f171;
   background-color: #38219c; 
    
    margin: none;
    text-align: center;
    
    
}

.btn-adicionar {
    color: #71f171;
    background-color: #eb3e3e;
    border-color: #eb3e3e;
    
    border-radius: 2em;
    border-width: 1em;
    border-top-width: 1em;
    margin-right: 2em;
}

.btn-reduzir {
    color: #71f171;
    background-color: #eb3e3e;
    border-color: #eb3e3e;
    
    border-radius: 2em;   
    border-width: 1em;
    border-top-width: 1em;
}

.btn-reiniciar {
    background-color: #eb3e3e;
    border-color: #eb3e3e;
    color:#71f171;
   
    border-radius: 2em;
    border-width: 1em;
    border-top-width: 1em;
}