.pagina-completa {

    background-color: #5e1212;
}


.pagina-renderizacao {
    padding: 2em;
    text-align: center;
    

}


.btn-renderizacao {
    text-align: center;
    margin-top: 2em;
    border-radius: 5em;

    
  
}

.Quiz-Pergunta {
    text-align: center;
    margin-top: 1em;
}

.Quiz-Alternativa{
    text-align: center;
    margin-top: 1em;
    align-items: center;
}